<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.driver.hire_me"
    android:installLocation="preferExternal">

    <permission
        android:name="com.driver.hire_me.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.rider.aracanemap.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Google Plus permission -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- GCM connects to Internet Services. -->


    <!-- GCM requires a Google account. -->


    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.driver.hire_me.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.driver.hire_me.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
     <application
        android:name="com.driver.hire_me.Controller"
        android:allowBackup="true"
        android:icon="@drawable/arcanelogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
    -->
    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme.NoActionBar"> -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_green" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f5318b135a73d87428799a1f498456e4a0b0efa6" />
     <!--   <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DELETE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="com.idrivecare.familypro" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DELETE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="com.idrivecare.familypro" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_signin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" />
       <!-- <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />-->
        <activity
            android:name=".SlideMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AvailabilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />

       <!-- <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->
        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googleapikey" />
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googleapikey1" />

        <activity
            android:name=".Resetpassword"
            android:label="@string/title_activity_resetpassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Myreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FareReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BrainTreeMain"
            android:screenOrientation="portrait"
           />
   <!--     <activity
            android:name=".BrainTreeDetails"
            android:screenOrientation="portrait"
     />
        <activity
            android:name=".BrainTreePaypal"
            android:screenOrientation="portrait"
           />-->
        <activity
            android:name=".DocUploadActivity"
            android:label="@string/title_activity_doc_upload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FareSummaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    <!--    <activity
            android:name=".ThankyouActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />-->

        <!--
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                &lt;!&ndash; Receives the actual messages. &ndash;&gt;
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                &lt;!&ndash; Receives the registration id. &ndash;&gt;
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.rider.arcane_android" />
            </intent-filter>
        </receiver>

        <service android:name="com.driver.hire_me.GCMIntentService" />
        -->
        <!-- Firebase Notifications -->
        <service android:name="com.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->
      <!--  <activity
            android:name=".DestinationActivity"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".RatingActivity"
            android:label="@string/title_activity_rating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DriverProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme1"
            />

    <!-- <service
            android:name="com.service.DriverLocationServices"
            android:process=":my_service" /> -->
       <!-- <service
            android:name="com.service.LocationTrackService"
            android:process=":loction_record_service"
          />-->
      <!--  <service
            android:name="com.service.MyLocationService"
            android:process=":my_service" />-->


        <service
            android:name="com.service.LocationService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="com.service.TrackRecordingService"
            android:enabled="true"
            android:exported="true"
            android:label="sada"
            android:permission="com.grepixit.mytracks.WRITE_TRACK_DATA"
            android:process=":ds1" />

        <activity
            android:name=".DocUploadActivity1"
            android:label="@string/title_activity_doc_upload1"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>